<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Units">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integrations">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>